<div class="container-fluid pt-4 px-4">
</div>
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <h6 class="mb-0">Tous les domaines</h6>

      <a href="">Afficher tous</a>
    </div>
    <div class="d-flex align-items-center justify-content-between mb-4">
      <button type="button" class="btn btn-primary m-2" (click)="openDialog()">Ajouter domaine</button>
    </div>


    <div class="table-responsive">
      <table class="table text-start align-middle table-bordered table-hover mb-0">
        <thead>
          <tr class="text-dark">


            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Créé le</th>
            <th scope="col">Modifié le</th>
            <th scope="col">Détailles</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="dataArray.length > 0; else noResults">
            <tr *ngFor="let item of dataArray">
              <td>{{item.titre}}</td>
              <td>{{item.description}}</td>
              <td>{{item.created_at | date: 'dd/MM/yy, à HH:mm'}}</td>
              <td>{{ (item.updated_at !== null) ? (item.updated_at | date: 'dd/MM/yy, à HH:mm') : "Aucune" }}</td>
              <td><button type="button" class="btn btn-sm btn-primary" (click)="goToDetails(item.id)">Details</button>
              </td>
              <td>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-outline-primary">Supprimer</button>
                  <button type="button" class="btn btn-outline-primary" (click)="openDialogupdate(item.id)" >Modifier</button>
                </div>
              </td>
            </tr>
          </ng-container>
          <ng-template #noResults>
            <tr>
              <td colspan="6">No results</td>
            </tr>
          </ng-template>
        </tbody>

      </table>
    </div>
  </div>
</div>
<!-- Recent Sales End -->
