<div class="container-fluid pt-4 px-4">
  <div class="col-sm-12 col-xl-6">

  </div>
  <div class="bg-light rounded h-100 p-4">

    <div class="d-flex align-items-center justify-content-between mb-4">
      <h6 class="mb-4">Détailles risque :</h6>
      <button type="button" class="btn btn-sm btn-sm-square btn-outline-primary m-2" onclick="history.back()"><i
          class="fa fa-arrow-left"></i></button>
    </div>
    <dl class="row mb-0">
      <dt class="col-sm-4">Titre</dt>
      <dd class="col-sm-8">{{obj.titre}}</dd>

      <dt class="col-sm-4">Description</dt>
      <dd class="col-sm-8">{{obj.description}}</dd>

      <dt class="col-sm-4">Créé le</dt>
      <dd class="col-sm-8">{{obj.created_at | date: 'dd/MM/yy, à HH:mm'}}</dd>

      <dt class="col-sm-4 text-truncate">Modifié le</dt>
      <dd class="col-sm-8">{{ (obj.updated_at !== null) ? (obj.updated_at | date: 'dd/MM/yy, à HH:mm') : "Aucune" }}
      </dd>

    </dl>
  </div>
</div>
<!-- Recent Sales Start -->
<div class="container-fluid pt-4 px-4">
  <div class="bg-light text-center rounded p-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <h6 class="mb-0">Tous les mesures liées</h6>

      <a href="">Afficher tous</a>
    </div>
    <div class="d-flex align-items-center justify-content-between mb-4">
      <button type="button" class="btn btn-primary m-2"(click)="openDialog(obj.id)">Ajouter mesure</button>
    </div>


    <div class="table-responsive">
      <table class="table text-start align-middle table-bordered table-hover mb-0">
        <thead>
          <tr class="text-dark">


            <th scope="col">Titre</th>
            <th scope="col">Description</th>
            <th scope="col">Créé le</th>
            <th scope="col">Modifié le</th>
            <th scope="col">Détailles</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="dataArray.length > 0; else noResults">
            <tr *ngFor="let item of dataArray">
              <td>{{item.titre}}</td>
              <td>{{item.description}}</td>
              <td>{{item.created_at | date: 'dd/MM/yy, à HH:mm'}}</td>
              <td>{{ (item.updated_at !== null) ? (item.updated_at | date: 'dd/MM/yy, à HH:mm') : "Aucune" }}</td>
              <td><button type="button" class="btn btn-sm btn-primary" (click)="goToDetails(item.id)">Details</button></td>
              <td>
                <div class="btn-group" role="group">
                  <button type="button" class="btn btn-outline-primary"(click)="delete(item.risque_id,item.id)">Supprimer</button>
                  <button type="button" class="btn btn-outline-primary" (click)="getdata(item.id,item.titre,item.description,item.risque_id)"data-toggle="modal" data-target="#exampleModal" >Modifier</button>
                </div>
              </td>
            </tr>
          </ng-container>
          <ng-template #noResults>
            <tr>
              <td colspan="6">No results</td>
            </tr>
          </ng-template>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!-- Recent Sales End -->


<!-- Modalupdate -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">

        <div class="bg-light rounded h-100 p-4">
          <h6 class="mb-4">Basic Form </h6>
          <form  #f="ngForm" (ngSubmit)="updatenewstudent(f)">
            <div class="mb-3">
              <label for="titre" class="form-label">Titre</label>
              <input  type="text" class="form-control" id="title" name="titre" #titre="ngModel"[(ngModel)]="datames.titre" ngModel required minlength="3">
              <div *ngIf="titre?.touched && titre?.hasError('required')"
                class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fa fa-exclamation-circle me-2"></i>Le champs titre est obligatoire
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
              <div *ngIf="titre?.touched && titre?.hasError('minlength')"
                class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fa fa-exclamation-circle me-2"></i>Minimum 3 lettres
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            </div>
            <div class="mb-3">
              <label for="Description" class="form-label">Description</label>
              <textarea  class="form-control" placeholder="Ajouter une description ici."[(ngModel)]="datames.description"
                id="Textarea" style="height: 150px;"name="description" #description="ngModel" ngModel ></textarea>
            </div>
            <button type="submit" [disabled]="f.invalid" class="btn btn-primary">Enregistrer</button>
          </form>
        </div>
      </div>

    </div>
  </div>
</div>
<!-- Modalupdate -->
